@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #73d411;
  --color-primary-dark: #5bb00d;
  --color-background-light: #f7f8f6;
  --color-background-dark: #192210;
  --color-text-main: #141811;
  --color-text-secondary: #5c6b53;
  --color-surface-light: #ffffff;
  --color-surface-dark: #232e18;

  --font-display: 'Epilogue', sans-serif;
  --font-body: 'Noto Sans', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background-light);
  color: var(--color-text-main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
